# Ignore virtual environment
venv/
.env/
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# PyInstaller
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Streamlit secrets
.streamlit/secrets.toml

# VS Code settings
.vscode/

# Mac OS
.DS_Store

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/